
<!-- using bootstrap classes -py(padding y-axis[top&bottom]) -->

<footer class="footer bg-dark py-3 mt-auto">
  <div class="container ">
      <span class="text-muted">&copy  YelpCamp Grounds</span>
  </div>
</footer>
