<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>YelpCamp!</title>
  <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
</head>

<body class="d-flex flex-column vh-100">
  <%- include('../partials/navbar') %>
  <main class="container mt-5">
    <%- body %>
  </main>
  <%- include('../partials/footer') %>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js">
  </script>

  <!-- Bootstrap validation script below-->
  <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    // below is a Self-Invoking Function (included within () and ends with a ())
  (function() {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function(event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
  })
  })()
  </script>

</body>

</html>
