  <% layout('./layouts/boilerplate')%>
    <h1> Camp List </h1>
    <div class="">
      <a href="/campgrounds/add">Add a new campground</a>
    </div>
    <ul>
      <% for (let campground of campgrounds) { %>
        <li> <a href="/campgrounds/<%= campground._id %>" > <%= campground.title %> </a> </li>
      <% } %>
    </ul>
